body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  background-color: #fff;
}


img {
  display: block;
}

#root {
  text-align: center;
  box-sizing: border-box;
}