.apropos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  box-sizing: border-box;
}

.apropos__panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 75%;
  margin: 40px auto 0px;
}

@media (max-width: 768px) {
  .banner2 {
    height: 170px;
    border-radius: 10px;
    margin: 20px 0;
  }

  .apropos__panels {
    gap: 16px;
    margin: 0px auto 60px;
    width: 85%;
  }

  .dropdown__header {
    padding: 12px 16px;

    h3,
    .dropdown__title {
      font-size: 16px;
    }
  }

  .dropdown__content {
    font-size: 15px;
  }
}