.FooterDiv{
    background-color: black;
    color: white;
    padding: 20px 0px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}



  