.NavBar{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.DivLink {
  display: flex;
  gap: 1rem; 
}

.nav-link{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    &.active{
      text-decoration: underline;
      text-underline-offset: 5px;
      
    }
    &.shadow-active {
         text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      }
}

@media (max-width: 768px) {
  .NavBar {
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1.2rem 6.5vw 0.4rem 6.5vw; 

    .DivLogo img {
      height: 11vw;
    }

    .DivLink {
      gap: 1rem;
    }

    .nav-link {
      font-size: 3.5vw;
      text-transform: uppercase;
      &.shadow-active {
        text-shadow: none;
      }
    }
  }
}